body{
    background: white;
    overflow-x: hidden;
    font-family: brandon-grotesque, sans-serif;
}

/******************/
/* Intro elements */
/******************/
#intro{
    height: 105vh;
}

#intro-cover{
    position: absolute;
    top: 0;
    left: 0;
    height:105vh;
    width: 105vw;
    min-width: 1175px;
}

#intro-title{
    width: 100%;
    font-size: 1.2rem;
    line-height: 2;
    text-align: left;
    padding-left: 5%;
    color: white;
    position: absolute;
    top: 35%;
    animation-name: fade_in;
    animation-duration: 2s 
}

#intro-title h1{
    font-size: 4.5rem;    
    font-family: 'Playfair Display';
    font-weight: bold;
    line-height: 1;
    padding-top: 0;
    margin: 0;
}

/************/
/* ETS logo */
/************/
#header-logo-big{
    width: 16vw;
    position: fixed;
    left: 50px;
    top: -30px;
    z-index: 100;
    display: none;
}

#header-logo-small{
    width: 10vw;
    max-width: 240px;
    position: fixed;
    left: 50px;
    top: 0;
    z-index: 100;
    display: none;
}

.active-logo{ 
    display: inline !important;
    animation-name: fade_in;
    animation-duration: 1s;
}

/************************/
/* Application contents */
/************************/
#main-body{
    width: 100vw;
    margin: 0;
    margin-left: -10px;
    padding-top: 30px;
    padding-bottom: 1%;
    text-align: center;
    color: white;
}

#main-body hr{
    margin-left: 48.5vw;
    margin-bottom: 40px;
}

.main-body-container{
    margin-bottom: 40px;
}

.investment-search-form input{
    width: 60vw;
    padding-left: 2vw;
    font-size: 30px;
    height: 60px;
    background: transparent;
    color: rgba(0,0,0, 0.6);
}

.search-icon{
    margin-left: -40px;
    opacity: 0.5;
    height: 20px;
}

.info-box{
    width: 70%;
    height: 110px;
    padding-top: 10px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto; 
    vertical-align: middle;
    border-radius: 1px;
}

.info-box-content{
    height: 45px;
    width: 95%;
    margin-left: 2.5%;
    padding-bottom: 20px;
    border-radius: 1px;
}

.info-box-content table {
    float: left;
    margin-top: 5px;
}

.info-box-content td {
    width: 11vw;
}

.smaller_text{
    font-size: 12px !important;
}

.info-box-name{
    margin-bottom: 10px;
    font-family: 'Playfair Display';
    font-weight: bold;
}

.class-equity{
    background: linear-gradient(to right, #636FA4 60%, #67B26F 100%);
}

.class-multi-asset{
    background: linear-gradient(to right, #636FA4 60%, #E86A66 100%);
}

.class-bond{
    background: linear-gradient(to right,#636FA4 60%, #EBBBA9 100%);
}

.class-money-market{
    background: linear-gradient(to right,#636FA4 60%, #f79d00 100%);
}

.class-aris{
    background: linear-gradient(to right,#636FA4 60%, #9a6ed8 100%);
}

.class-other{
    background: linear-gradient(to right,#636FA4 60%, #696969 100%);
}

.country-flag{
    height: 50px;
    width: 90px;
    float: right;
    margin-top: -5px;
    margin-right: 5px;
    opacity: 0.9;
    border-radius: 20px;
    animation-duration: 3s;
    animation-name: flag_fade_in;
}

.mini-country-flag{
    height: 20px;
    margin-right: 50px;
    opacity: 0.9;
    float: right;
    border-radius: 20px;
    display: none;
    animation-duration: 3s;
    animation-name: flag_fade_in;
}

#back-to-top{
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.3;   
    display: none;
    z-index: 5;
    animation-name: back_to_top;
    animation-duration: 1s;
}

.content-line{
    border: 0;
    height: 1px;
    width: 60px;
    background-color: #0cc;
    margin: 0;
}

/***********/
/* End div */
/***********/
#end{
    width: 100vw;
    margin: 0;
    margin-left: -10px;
    padding-top: 70px;
    padding-bottom: 500px; 
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: bold;
    font-style: italic;
    color: black;
}

#end img{
    height: 20px;
    padding-top: 100px;
    padding-left: 20px;
}

/********************************/
/* Grid lines in the background */
/********************************/
.grid{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;
}

.grid-line{
    background-color: rgba(200,200,200,.25);
    width: 1px;
    position: absolute;
    height: 100%;
}

.grid-line-ray{
    border-radius: 50%;
    background-color: rgba(51,0,102,.25);
    position: fixed;
    height: 50px;
    width: 3px;
    transform: translate3d(0,-100%,0);
}

#grid-line-ray-1{
    left: 20vw;
}

#grid-line-ray-2{
    left: 40vw;
}

#grid-line-ray-3{
    left: 60vw;
}

#grid-line-ray-4{
    left: 80vw;
}

/****************************************/
/* Content resizing for smaller screens */
/****************************************/
@media only screen and (max-width: 1160px){
    .info-box-content table {
        margin-left: auto;
        margin-right: auto;
    }

    .info-box-content td {
        width: 12vw;
    }

    .country-flag{
        display: none;
    }

    .mini-country-flag{
        display: inline;
    }

    #main-body{
        width: 102vw;
    }

    .main-body-container{
        margin-left: -3vw;
    }

    .investment-search-form input{
        width: 65vw;
        font-size: 30px;
        height: 60px;
        background: transparent;
        color: rgba(0,0,0, 0.6);
    }

    .info-box{
        height: 130px;
    }
    
    .info-box-content{
        height: 60px;
    }

    .info-box-content table{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .smaller_text{
        font-size: 10px !important;
    }
}

/**************/
/* Animations */
/**************/
.slidein_right{
    animation-duration: 3s;
    animation-name: slidein_right;
}

.slidein_left{
    animation-duration: 3s;
    animation-name: slidein_left;
}

@keyframes slidein_right{
    from{
        margin-left: 100%;
        opacity: 0;
    }

    to{
        margin-left: 15%;
        opacity: 1;
    }
}

@keyframes slidein_left{
    from{
        margin-left: -40%;
        opacity: 0;
    }

    to{
        margin-left: 15%;
        opacity: 1;
    }
}

@keyframes flag_fade_in{
    from{
        opacity: 0;
    }

    to{
        opacity: 0.9;
    }
}

@keyframes fade_in{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes back_to_top{
    from{
        opacity: 0;
    }

    to{
        opacity: 0.3;
    }
}