<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ETS Factory Challenge - Desarrollo</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='media/favicon.ico') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900">
    </head>
    <body>
        <div id="header">
            <header>
                <img id="header-logo" src="{{ url_for('static', filename='media/etsf_logo.png') }}"/> 
                <div id="header-title">
                    Our Investment Funds
                </div>
            </header>
        </div>
        <div id="main-body">
            
        </div>
    </body>
</html>
