<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ETS Factory Challenge - Desarrollo</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='media/favicon.ico') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='tools/jquery.waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='tools/display_tools.js') }}"></script>
    </head>
    <body>
        <!-- Fixed positioned elements -->
        <a href="https://www.etsfactory.com/">
            <img id="header-logo-big" class="active-logo" src="{{ url_for('static', filename='media/etsf_logo.png') }}"/>
            <img id="header-logo-small" src="{{ url_for('static', filename='media/etsf_logo.png') }}"/> 
        </a>
        <img id="back-to-top" src ="{{ url_for('static', filename='media/back_to_top.png') }}" onclick="scroll_top()"/>

        <!-- Grid -->
        <div class="grid">
            <div class="grid-line" id="grid-line-ray-1">
                <span class="grid-line-ray"/>
            </div>
            <div class="grid-line" id="grid-line-ray-2">
                <span class="grid-line-ray"/>
            </div>
            <div class="grid-line" id="grid-line-ray-3">
                <span class="grid-line-ray"/>
            </div>
            <div class="grid-line" id="grid-line-ray-4">
                <span class="grid-line-ray" />
            </div>
        </div>

        <!-- Intro -->
        <div id="intro">
            <img id="intro-cover" src="{{ url_for('static', filename='media/background00.jpg') }}"/>    
                <div id="intro-title">
                    <hr class="content-line">
                    <h1>Our Investment Funds</h1>
                    <span class="intro-content">
                        <br/><br/>Our investments<br/>
                        our future.
                    </span>
                </div>
        </div>

        <!-- Investment Funds main content -->
        <div id="main-body">
            <div class="main-body-container">
                <hr class="content-line">
                <form class="investment-search-form" action="/">
                    <input id="investment-search-bar" type="text" name="search"><img class="search-icon" src="{{ url_for('static', filename='media/search_icon.png') }}"
                </form>
            </div>
        </div>

        <!-- End of page and Infinite Scroll waypoint container -->
        <div id='end'>
             <img src="{{ url_for('static', filename='media/loading.gif') }}"/>
        </div>

        <!-- Scripts -->
        <script>
            // Waypoints and listeners
            window.onload = load_waypoint;
            $(document).scroll(scroll_actions);

            // If there is any variable passed thourgh GET method, we skip the intro
            if (is_there_GET_variables()){
                scroll_top();
            }
        </script>
    </body>
</html>
